<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#202020">
	<title>Notes</title>
	<link href="./style.css" rel="stylesheet">
</head>

<body>
	<h1><a href="<%= links.index %>">Public Notes App</a></h1>
	<a href="<%= links.new %>" id="main-link">+ Add a new note</a>

	<% notes.forEach((note)=> { %>
		<ul>
			<li>
				<%= note.text %>
			</li>
			<li>
				<%= note.added %>
			</li>
			<li>
				<a href="<%= links.details %>/<%= note.id %>">Details</a>
			</li>
		</ul>
		<% }); %>

</body>

</html>
